doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://raw.github.com/phi1618/tmlib.js/0.1.5-bugfix2/build/tmlib.js')
    script(src='/javascripts/main.js')
    script(src='/socket.io/socket.io.js')
  body
    block content
    